*{
    background-origin: border-box;
    padding: 0;
}
body
{
    background-color: bisque;
}
h1
{
   padding:20px 0 20px 5px;
   border: solid;
   background-color: sandybrown;
}
button
{
    padding: 10px;
    font-size: 20px;
}
button:hover
{
    background-color:rgb(249, 244, 114);
}
.cotentContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    padding-top: 2vh;

}
.selectedContainer
{
    margin-top: 5vh;
    background-color: salmon;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}

.result
{
    padding-top: 20px;
    font-size: 26px;
}
.Win
{
    color: rgb(109, 177, 8);
}
.Lose
{
    color: rgb(158, 7, 7);
}
.Draw
{
    color: rgb(148, 8, 8);
}